# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django / Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
# Pipfile.lock

# poetry
# poetry.lock

# pdm
# pdm.lock
.pdm.toml

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.idea/
.spyderproject
.spyproject
.ropeproject
.cursorindexingignore
.cursorrules

# Type checkers / Linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache

# Cython
cython_debug/

# Documentation
/site

# Project specific directories
/chart
/log
/result
/tmp
logs/
logs_sim/

# Workload traces
/data/*/traces/*
!/data/ids/traces/workload-83-600.json

# Analysis / Results
/analysis/
src/notebooks/data/results_sim/
src/notebooks/data/results_sim/150-250-30-20-knative-3gb/simulation_1.json
src/notebooks/data/results_sim/150-250-30-20-multiloop-3gb/simulation_1.json
analysis_results/

# wandb
wandb/
src/wandb/
src/notebooks/old/wandb/
src/notebooks/new/wandb/

# GNN datasets - ignore all directories in simulation_data/ but not files
simulation_data/**/

# GNN models
src/notebooks/old/best_gnn_placement_model.pt
src/notebooks/new/best_gnn_placement_model.pt
src/notebooks/new/best_gnn_regret_model.pt
src/notebooks/old/models/
src/notebooks/new/models/

# Large files
simulation_data/network_topology.pdf
models/
latex/

# Markdown files (except README)
*.md
!README.md
